body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: sans-serif;
}

h1{    
    font-family: sans-serif;
}

p{
    font-family: sans-serif;
}

h3{
    font-family: sans-serif;
}

.menu-principal{
    width: 100%;
    background-color: #252323;
    height: 60px;
    margin: 0 auto;
}

ul{
    padding: 0px;
}

.logo{
    float: left;
    padding: 10px;
}

main{
    margin: 0 auto;
    width: 980px;
    position: relative;
}

.content{
    margin: 0 auto;
    width: 980px;
    position: relative;
}

.redes-sociais ul li{
    display: inline-block;
    list-style: none;
    position: relative;
    margin-left: 20px;
}

.redes-sociais {
    float: right;
    padding: 3px;
}

.header-2{
    background-color: #ffffff;
    width: 980px;
    margin: 0 auto;
    padding: 10px;
}

.menu ul li{
    list-style: none;
    display: inline-block;
    float: left;
    margin-left: 20px;
    color: #8b8b8b;
    height: 54px;
}

.menu ul li a:hover{
    color: #00bac6;
    
}

.menu ul li:hover{
    border-bottom: 3px solid #00bac6;
}

.menu ul li a{
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-family: sans-serif;
}

.menu{
    width: 70%;
}

.busca{
    width: 30%;
    float: right;
    text-align: center;
}

.busca input{
    text-align: left 5px;
    padding-left: 12px;
    height: 36px;
    margin-top: -7px;
    width: 190px;
    background-image: url(./imagens/procurar\ \(1\).png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 96%;
    border: #d6d6d6 1px solid;
}

.col-100{
    width: 100%;
    float: left;
    position: relative;
    border-bottom: 0px solid #efefef;
}

button.slick-prev{
    font-size: 0;
    border: 0;
    height: 51px;
    width: 25px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    top: 35%;
    left: 10%;
    background-image: url(./imagens/anterior.png);
}

button.slick-next{
    font-size: 0;
    border: 0;
    height: 51px;
    width: 25px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    top: 35%;
    right: 10%;
    background-image: url(./imagens/proximo.png);
}

.slick-initialized {
    overflow: hidden;
}

.slick-dots li button{
    font-size: 0px;
    border: 5px solid #ffffff;
    width: 26px;
    height: 26px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
    
}

.slick-dots {
    margin: 0 auto;
    width: 50%;
    position: absolute;
    left: 48%;
    top: 80%;
}

.slick-dots li{
    padding-left:10px;
    display: inline-block;
}

li.slick-active button{
    background: #00bac6;
}

.texto-destaque{
    text-align: center;
}

.texto-destaque h1{
    color: #818181;
    font-size: 30px;
    text-transform: uppercase;
}

.texto-destaque strong{
    color: #646464;
    text-transform: uppercase;
}

.texto-destaque p{
    color:#a9a9a9;
    font-size: 15px;
}

.col-3{
    width: 30%;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    margin-bottom: 30px;
}
.col-3 h3 b{
    color: #646464;
}

.col-3 h3{
    color: #818181;
    font-size: 20px;
}

.col-3 p{
    color:#a9a9a9;
    font-size: 15px;
}

.bloco-texto{
    margin-top: 3em;
}

.bloco-texto1{
    margin-top: 5em;
}

.bloco-imagem{
    height: 300px;
    width: 30%;
    padding-top: 15px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-bottom: 15px !important;
    position: relative;
    float: left;
}

.bloco-imagem img{
    width: 300px;
}


.col-4{
    width: 25%;
    float: left;
    text-align: center;
}

.col-4 img{
    margin: 0 auto;
    padding-top: 3em;
    padding-bottom: 3em;
}

.col-4 img:hover{
    margin-top: 3px;
}

.col-2{
    width: 50%;
    float: left;
    text-align: left;
}